
.head
  position: relative

  .log
    position: absolute
    top: .3rem
    right: 4.5rem
    color: $color-text-secondary
    cursor: pointer

  .display
    @extend %animated
    background: $color-primary
    color: $color-text-primary
    border: 1px solid $color-border-primary
    height: 5rem
    padding: 0 .5rem
    // chrome forces white border otherwise
    outline: none

    &:focus
      border: 1px solid $color-accent

  .error
    @extend %animated
    @extend %permeable
    position: absolute
    top: -1rem
    left: -1rem
    padding: .5rem 1rem
    background: $color-error
    border-radius: 0.4rem
    border: 1px solid lighten($color-error, 20%)
    color: $color-text-primary

    &.hidden
      opacity: 0
